# Pre-reqs

In [ ]:
!pip install mmh3

Requirement already satisfied: mmh3 in /usr/local/lib/python3.7/dist-packages (3.0.0)

In [ ]:
import numpy as np
import pandas as pd
import mmh3

# Task 1

## Stopwords Removal

 In this exercise you have to remove stopwords from a given **Initial** text and convert the text into the **Final** text given to you 

*Note - Please only write your code where it is mentioned to and do not change anything else*

**Intial text**

> Sentiment analysis is the process of using natural language processing , text analysis , and statistics to analyze customer sentiment .


**Final text**

> Sentiment is process using natural language processing , text , statistics analyze customer .

In [ ]:
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## Tokenize your text

In [ ]:
text = "Sentiment analysis is the process of using natural language processing , text analysis , and statistics to analyze customer sentiment ."

In [ ]:
text_tokens = nltk.word_tokenize(text)

In [ ]:
print(text_tokens)

['Sentiment', 'analysis', 'is', 'the', 'process', 'of', 'using', 'natural', 'language', 'processing', ',', 'text', 'analysis', ',', 'and', 'statistics', 'to', 'analyze', 'customer', 'sentiment', '.']

*Expected output*

['Sentiment', 'analysis', 'is', 'the', 'process', 'of', 'using', 'natural', 'language', 'processing', ',', 'text', 'analysis', ',', 'and', 'statistics', 'to', 'analyze', 'customer', 'sentiment', '.']

## Creating the stopwords list

In [ ]:
stopword_list = stopwords.words('english') # now stopword_list will be appended by already known common stopwords which can be seen by prinitng the list below #

In [ ]:
print(stopword_list)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
# Append and Remove some stopwords from the list such that after removing stopwords from intial text using stopwords_list you can get final text

# ...
# write your code here 
# ... 

stopword_list.append('analysis')
stopword_list.append('sentiment')
stopword_list.remove('is')

In [ ]:
 #Remove all tokens from text_tokens which are also present in stopword_list and store remaining tokens in sw_filtered_text#

 #...
 # write your code here (Hint - create a list named sw_filtered_text fulfilling above criteria)
 #..

 sw_filtered_text = [w for w in text_tokens if w not in stopword_list]

In [ ]:
print(sw_filtered_text)

['Sentiment', 'is', 'process', 'using', 'natural', 'language', 'processing', ',', 'text', ',', 'statistics', 'analyze', 'customer', '.']

*Expected output*

['Sentiment', 'is', 'process', 'using', 'natural', 'language', 'processing', ',', 'text', ',', 'statistics', 'analyze', 'customer', '.']

## Output

In [ ]:
sw_filtered_text = (" ").join(sw_filtered_text)
print(sw_filtered_text)


# The above code will join all the tokens in the final list now check whether your output with the final text given to you or not.

Sentiment is process using natural language processing , text , statistics analyze customer .

# Task 2

## Stemming

In this exercise, with the given input, produce the given output by stemming the previously tokenized words.

*Note - Write your code only where it is mentioned to and keep everything else unchanged.*

**Input**
> ['Constantly', 'concentrating', 'nearby', 'object', 'may', 'lead', 'one', 'feel', 'strain' 'eyes']



**Output**
> ['Constant', 'concentrat', 'near', 'object', 'may', 'lead', 'on', 'feel', 'strain' 'ey']

In [ ]:
def stemming(x):
  return [nltk.RegexpStemmer(r'ing$|ly$|e$|by$|es$').stem(y) for y in x]

stemmed_tockens = stemming(['Constantly', 'concentrating', 'nearby', 'object', 'may', 'lead', 'one', 'feel', 'strain','eyes'])

In [ ]:
# Final output
stemmed_tockens

['Constant',
 'concentrat',
 'near',
 'object',
 'may',
 'lead',
 'on',
 'feel',
 'strain',
 'ey']

Questionnaire:
1. Have you written an entire function for stemming? - YES
2. Have you used any pre-built library for this task? - YES
3. Name the library used (write NA if not used): NLTK

# Task 3

## The Hashing Trick

The conventional Bag of Words method involves formation of vocabulary out of all the available tokens in the given text and later, building features out of the vocabulary using frequencies of tokens or just their presence (1s or 0s). Feature hashing or the hashing trick helps overcome some of the major limitations of conventional Bag of Words like growing vocabulary with growing dataset size i.e. dimensionality reduction or dodging crafty corner cases. 

For some further details on Feature hashing, refer to these links:
1. https://en.wikipedia.org/wiki/Feature_hashing
2. https://medium.com/value-stream-design/introducing-one-of-the-best-hacks-in-machine-learning-the-hashing-trick-bf6a9c8af18f

For this Task, given some arbitrary data in a DataFrame, implement Feature hashing manually using MurmurHash3 (using mmh3 module imported at the beginning) to hash each word and then modulo to build a feature vector as shown in the below example:


---


Example:

**Dataset**

| Text      | Label |
| --------- | ----- |
| Loved the service      | 1       |
| Terrible food   | 0        |

Using conventional bag of words, we would require 5 features for 5 unique words in both the sentences (loved, the, service, terrible, food).

Let us use feature hashing such that output feature vector has 4 features (use modulo 4 after hashing)

Sentence 1: Loved the service

| Words      | Hash | Hash modulo 4 |
| --------- | ----- | ------------- |
| loved | 2334787929 | 1 |
| the   | 3162218338 | 2 |
| service | 3640852848 | 0 |

Sentence 2: Terrible food

| Words      | Hash | Hash modulo 4 |
| --------- | ----- | ------------- |
| terrible | 2800746226 | 2 |
| food   | 2122679414 | 2 |

Final feature vector:

| Sentence      | Hash Feature 0 | Hash Feature 1 | Hash Feature 2 | Hash Feature 3 |
| --------- | ----- | ------------- | ----- | ----- |
| Loved the service | 1 | 1 | 1 | 0 |
| Terrible food | 0 | 0 | 2 | 0 |

Thus the output should be:


```
sample_output = [1, 1, 1, 0
                 0, 0, 2, 0]
```

For the dataset given in the problem: 

- Required features: 1000

- Hash function: mmh3 (must use unsigned hash)

**NOTE: You should only use Pandas, NumPy and mmh3 for this task, if any other library is used, your submission will not be considered.**

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Dataset/data_BoW.csv')
df

      Unnamed: 0                                         text_clean  label_num
0              0  subject enron methanol meter this is a follow ...          0
1              1  subject hpl nom for january see attached file ...          0
2              2  subject neon retreat ho ho ho we re around to ...          0
3              3  subject photoshop windows office cheap main tr...          1
4              4  subject re indian springs this deal is to book...          0
...          ...                                                ...        ...
5166        5166  subject put the on the ft the transport volume...          0
5167        5167  subject and following noms hpl can t take the ...          0
5168        5168  subject calpine daily gas nomination julie as ...          0
5169        5169  subject industrial worksheets for august activ...          0
5170        5170  subject important online banking alert dear va...          1

[5171 rows x 3 columns]

In [ ]:
#your code here

In [ ]:
df.set_index('Unnamed: 0',inplace=True)

In [ ]:
df

                                                   text_clean  label_num
Unnamed: 0
0           subject enron methanol meter this is a follow ...          0
1           subject hpl nom for january see attached file ...          0
2           subject neon retreat ho ho ho we re around to ...          0
3           subject photoshop windows office cheap main tr...          1
4           subject re indian springs this deal is to book...          0
...                                                       ...        ...
5166        subject put the on the ft the transport volume...          0
5167        subject and following noms hpl can t take the ...          0
5168        subject calpine daily gas nomination julie as ...          0
5169        subject industrial worksheets for august activ...          0
5170        subject important online banking alert dear va...          1

[5171 rows x 2 columns]

In [ ]:
for i in range(1000):
  df[f'Hash_feature_{i}'] = 0

In [ ]:
for i in range(df.shape[0]):
  word = df.loc[i,'text_clean'].split()

  for w in word:
    hash = (mmh3.hash(w,signed=False))%1000
    df.loc[i,f'Hash_feature_{hash}'] +=1

In [ ]:
df

                                                   text_clean  ...  Hash_feature_999
Unnamed: 0                                                     ...
0           subject enron methanol meter this is a follow ...  ...                 0
1           subject hpl nom for january see attached file ...  ...                 0
2           subject neon retreat ho ho ho we re around to ...  ...                 4
3           subject photoshop windows office cheap main tr...  ...                 0
4           subject re indian springs this deal is to book...  ...                 0
...                                                       ...  ...               ...
5166        subject put the on the ft the transport volume...  ...                 0
5167        subject and following noms hpl can t take the ...  ...                 0
5168        subject calpine daily gas nomination julie as ...  ...                 0
5169        subject industrial worksheets for august activ...  ...                 0
5170        subject important online banking alert dear va...  ...                 0

[5171 rows x 1002 columns]