In [21]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt

# Importing dataset

In [22]:
dataset = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Dataset/tripadvisor_hotel_reviews.csv')

In [23]:
dataset.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

We’ll be detecting 3 basic sentiments in the text provided in the review i.e. positive, neutral and negative

## Converting Rating column

In [24]:
def convert(x):
  if (x==1 or x==2):
    return 0
  elif (x==3):
    return 1
  elif (x==4 or x==5):
    return 2

In [25]:
convert(5)

2

In [26]:
dataset.Rating.apply(convert)

0        2
1        0
2        1
3        2
4        2
        ..
20486    2
20487    2
20488    0
20489    0
20490    0
Name: Rating, Length: 20491, dtype: int64

# Deal with missing values:

In [27]:
dataset.isna().sum()

Review    0
Rating    0
dtype: int64

# Text Cleaning

### 1) Lower all the texts

In [28]:
dataset.Review = dataset.Review.str.lower()

In [29]:
dataset

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [30]:
dataset.Review.replace(r"https?//[a-z0-9./]",' ',inplace= True,regex=True)

In [31]:
dataset.Review.replace(r'[^a-z]',' ',inplace=True,regex=True)

In [32]:
dataset.Review.replace(r' +',' ',inplace=True,regex=True)

In [33]:
dataset

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not experience hotel monaco seattle...       3
3      unique great stay wonderful time hotel monaco ...       5
4      great stay great stay went seahawk game awesom...       5
...                                                  ...     ...
20486  best kept secret rd time staying charm not sta...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside desk staff n...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking ca n t believe excellent rating...       2

[20491 rows x 2 columns]

In [34]:
dataset.to_csv('Cleaned_data.csv')